
h1  {
	color:#e7933e; /*e2e0e0*/
	clear: both;
	position: center;
	font-family: 'Kaushan Script', cursive;

	font-size: 8rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
  }
.nav	{
	clear: both;
	position:center;
	top: 5px;
	width:96%;
 	list-style-type:none;
	text-decoration:none;
	margin: 30px 30px;
	padding: 5px;
	overflow:hidden;	
	}
.nav-item  {
	float:right;
	
	}
li a 	{
	font-size:20px;
	text-decoration:none;
	display:block;
	padding: 10px;
	color:#777675;
	text-transform:uppercase;
	}
h3 {
	clear: both;
}
	/*
	.nav-item  {
		float:right;
		
		} */


/*
.social {
	width:30px;
	}
.hero     {
	color: #777765;
 	font-size: 12px;
	text-transform:uppercase;
	display:block;
	height:800px;
	margin:auto;
	width:100%;
	padding:100px;
	}*/
a {
	display: inline-block;
	color: #fff; /*#777765, #ececec   */
	text-decoration: none;
	background:rgba(0,0,0,0.5);
	padding: .5rem;
	transition: .6s background; 
	}

a:hover{
	background:rgba(0,0,0,0.9);
	}
/*
.right  {
	float:right;
	}
.left  {
	float:left;
	text-decoration: none;
	}
div .beerArt  {
	display:block;
	width:700px;
	margin:auto;
	align-items: center;
	}

.anchor	{
	font-size:20px;
	display:block;
	width:100%;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	color:#777765;
	margin:5% 0%;
	}
	*/
/*
.table {
	margin:auto;
	width:70%;
	font-size:16px;
	text-align: left;
	padding:0px;
	}
*/
/*  This is for the journal entry    */
#form {
	margin:auto;
	/*width:70%;*/
	font-size:16px;
	text-align: left;
	padding:0px;
	text-align: center;	}
/*
td	{
	border-bottom:1px solid grey;	
	padding:15px 0px 15px 0px;
	}

*/
/*
.topmenu {
	width:800%;
	height:40px;
	
	}*/

	/*.nav-social  {
	
		float:right;
		
		}*/
/*	#beerArt {
		align-content: center;
		align-items: center;
	}
	.social {
		width:30px;
		}*/
	/* .hero     {
		color: #777765;
		 font-size: 12px;
		text-transform:uppercase;
		display:block;
		height:800px;
		margin:auto;
		width:100%;
		padding:100px;
		} */

	

body {
	margin: 0;
	background: #000; 
	}
video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s opacity;
	}
.stopfade {
	opacity: .5;
	}
		
#polina { 
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	font-weight:100; 
	background: rgba(0,0,0,0.3);
	color: white;
	padding: 2rem;
	width: 38%;
	margin:auto;
	margin-top: 90px;
	float: center;
	font-size: 1.3rem;
	}
	
#polina button { 
	display: block;
	width: 80%;
	padding: .4rem;
	border: none; 
	margin: 1rem auto; 
	font-size: 1.3rem;
	background: rgba(255,255,255,0.23);
	color: #fff;
	border-radius: 3px; 
	cursor: pointer;
	transition: .3s background;
	}
#polina button:hover { 
	background: rgba(0,0,0,0.5);
	}

@media screen and (max-width: 500px) { 
	div{width:70%;} 
	}
@media screen and (max-device-width: 800px) {
	background: #000;
	#bgvid { display: none; }
	}